*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header img {
	height: 110px;
	width:435px;
	
}

body{
    font-family: Arial, Helvetica, sans-serif;
	background: #21437c;
}
.exp1{
	margin-bottom: 2%;
	margin-left: 7%;
	font-size: 30px;
	margin-top: 2%;
	color: #131212;
	
}
.exp{
	margin-right: 8%;
	margin-left: 7%;
	font-size: 20px;
	margin-top: 2%;
	color: #131212;
	
}
.exp a{
	color: #131212;
}
.exp a:hover {
	color: red;
}
.nav{
	text-align: center;
	display: inline;
	width: 1050px;
	margin: 30px;
	background: #24303c;
	height: 48px;
	border-radius: 10px;
	margin-left: 270px;
	margin: auto;
}
.nav ul{
	list-style: none;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.6fr 0.4fr 2.3fr 0.7fr;
	gap: 0px 0px;
	grid-template-areas:
	  "header header header"
	  "nav nav nav"
	  "main main main"
	  "footer footer footer";
  }
  
header { 
	grid-area: header; 
}
nav { 
	grid-area: nav; 
}

main { 
	grid-area: main; 
	margin-left: 10px;
	padding-inline-start: 5%;
}

.imagenesArticulos{
	max-width: 60%;
	max-height: 60%;
	display: inline-flex;
	margin-left: 7%;
	
}

footer { 
	grid-area: footer; 
	
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	font-family: 'Open sans';
	text-decoration: none;
}
.menu > li{
	position: relative;
	display: inline-block;
	width: auto;
	
}

.menu li a:hover{
	color: #ff9b43;
	transition: all .3s;
}
.submenu{
	list-style: none;
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}
.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

  .container {
	width: 45%;
	margin-left: 27%;
}

.social-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
}

.social-icons li {
	list-style: none;
}

.social-icons li a {
	display: block;
	position: relative;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 3em;
	margin-bottom: 20px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	transition: .5s;
	border: 2px solid #fff;
	overflow: hidden;
}

.social-icons li a:hover {
	transform: scale(1.3);
}

/* Hover */
.social-icons li:nth-child(1) a:hover {
	background: #fff;
	color: #3b5999;
}

.social-icons li:nth-child(2) a:hover {
	background: #fff;
	color: #55acee;
}

.social-icons li:nth-child(3) a:hover {
	background: #fff;
	color: #e4405f;
}

.social-icons li:nth-child(4) a:hover {
	background: #fff;
	color: #dd4b39;
}
/* Responsive*/
@media (min-width : 0px) and (max-width : 800px) {
    header {
        text-align: left;
    }
	.icono {
        margin-bottom: 0;
    }
	.nav{
		display: flex;
	}
	.introduccion{
		display: block;
		padding: 100px;
	}
	.introduccion h1{
		size: 10px;
	}

	.imagenesGraficas{
		max-width: 60%;
		display: inline-block;
	}
	.imagenesArticulos{
		max-width: 100%;
		display: inline-block;
	}
	
}
